{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 border rounded p-4 text-center">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Login now</legend>
                        {{ form.as_p }}
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
                <small class="d-block mt-3">Need An Account? <a href="{% url 'register' %}" class="btn btn-link">Sign up</a></small>
                <small><a href="{% url 'password_reset' %}" class="btn btn-link">Forgotten Password?</a></small>
            </div>
        </div>
    </div>
{% endblock %}
