{% extends "finance/base.html" %}
{% block content %}
    <img src="{{ user.profile.image.url }}">
    <h2> User Name: {{ user.username }}</h2>
    <h2> Email: {{ user.email }}</h2>
    <h2> Budget Limit: {{ user.profile.budget_limit }}</h2>
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}<!-- csrf token used for protection of forms from attack. Hence, django requires this. -->
            <fieldset>
                <legend>Profile Info</legend>
                {{ u_form.as_p }}
                {{ p_form.as_p }}
            </fieldset>
            <button type="submit">Update</button>
        </form>
{% endblock %}
