{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 border rounded p-4">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Join Today</legend>
                        {{ form.as_p }}
                    </fieldset>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <small>Already Have An Account? <a href="{% url 'login' %}" class="btn btn-link">Log in</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
