{% extends "finance/base.html" %}
{% block content %}
    <div id="i">
        <form method="POST">
            {% csrf_token %}<!-- csrf token used for protection of forms from attack. Hence, django requires this. -->
            <fieldset>
                <legend>Delete Expense</legend>
              <h2>Are you sure you want to delete the expense '{{ object.expense_type }}'?</h2>
            </fieldset>
            <button type="submit">Yes, Delete</button>
            <a href="{% url 'expense-detail' object.id %}" id="j">Cancel</a>
        </form>
    </div>
{% endblock %}