{% extends "finance/base.html" %}
{% block content %}
    <table>
        <tr>
            <th>Date</th>
            <th>ExpenseType</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>{{ object.date|date:"M d, y" }}</td>
            <td>{{ object.expense_type }}</td>
            <td>{{ object.amount }}</td>
            <td>{{ object.category }}</td>
            {% if object.description %}
                <td>{{ object.description }}</td>
            {% endif %}
        </tr>
    </table>
    <a href="{% url 'expense-update' object.id %}">Update</a>
    <a href="{% url 'expense-delete' object.id %}">Delete</a>
{% endblock %}
