{% extends "finance/base.html" %}
{% block content %}
<div id="yy">
    <form method="POST">
        {% csrf_token %}
        {{ form.month.label_tag }}
        {{ form.month }}
        {{ form.year.label_tag }}
        {{ form.year }}
        <button type="submit">Submit</button>
    </form>
</div>
<div id="zz">
    <h2>Budget Limit: {{ user.profile.budget_limit }}</h2>
    <h2>Remaining Budget: {{ remaining_budget }}</h2>
    <h2>Total Expense : {{ expense_amount }}</h2>
    <h2>Total Income : {{ income_amount }}</h2>
</div>
<div id="q">
    {% if expenses and incomes %}
        <h2 align="center" id="p">Hey {{ user }}, your expenses and incomes are listed below </h2>
        <table class="b">
            <tr class="c">
                <th>Date</th>
                <th>ExpenseType</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        {% for con in expenses %}
            <tr class="d">
                <td>{{ con.date|date:"M d, y" }}</td>
                <td><a href="{% url 'expense-detail' con.id %}">{{ con.expense_type }}</a></td>
                <td>{{ con.amount }}</td>
                <td>{{ con.category }}</td>
                {% if con.description %}
                    <td>{{ con.description }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        <table class="b">
            <tr class="c">
                <th>Date</th>
                <th>IncomeType</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        {% for con in incomes %}
            <tr class="d">
                <td>{{ con.date|date:"M d, y" }}</td>
                <td><a href="{% url 'income-detail' con.id %}">{{ con.income_type }}</a></td>
                <td>{{ con.amount }}</td>
                <td>{{ con.category }}</td>
                {% if con.description %}
                    <td>{{ con.description }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
</div>
    {% elif expenses %}
        <h2 align="center" id="r">Hey {{ user }}, your expenses are listed below </h2>
        <table class="b">
            <tr class="c">
                <th>Date</th>
                <th>ExpenseType</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        {% for con in expenses %}
            <tr class="d">
                <td>{{ con.date|date:"M d, y" }}</td>
                <td><a href="{% url 'expense-detail' con.id %}">{{ con.expense_type }}</a></td>
                <td>{{ con.amount }}</td>
                <td>{{ con.category }}</td>
                {% if con.description %}
                    <td>{{ con.description }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% elif incomes %}
        <h2 align="center" id="s">Hey {{ user }}, your incomes are listed below </h2>
        <table class="b">
            <tr class="c">
                <th>Date</th>
                <th>IncomeType</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        {% for con in incomes %}
            <tr class="d">
                <td>{{ con.date|date:"M d, y" }}</td>
                <td><a href="{% url 'income-detail' con.id %}">{{ con.income_type }}</a></td>
                <td>{{ con.amount }}</td>
                <td>{{ con.category }}</td>
                {% if con.description %}
                    <td>{{ con.description }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1 align="center" id="t">your expense and incomes list is empty.</h1>
    {% endif %}
    <h2><a href="{% url 'expense-create' %}" class="e">+Add Expense</a></h2>
    <h2><a href="{% url 'income-create' %}" class="e">+Add Income</a></h2>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'3'%}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}
