{% extends "finance/base.html" %}
{% block content %}
<div class="container mt-3">
    <h1 class="text-center">INCOMES</h1>
    <div class="row mt-2">
        <div class="col-md-6">
            <h3 class="text-center">Pie Representation</h3>
            <canvas id="youChart" width="150" height="100"></canvas>
            <script>
                var ctx = document.getElementById('youChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [{% for product in category_name %}  '{{ product }}',  {% endfor %}],
                        datasets: [{
                            label: 'Amount',
                            data: [{% for product in category_amount %}  {{ product }},  {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)',
                                'rgba(240, 120, 50, 0.8)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(240, 120, 50, 1)',

                            ],
                            borderWidth: 2,
                            weight: 0.5,
                            aspectRatio: 2
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true

                            }
                        }
                    }
                });
            </script>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Bar Representation</h3>
            <canvas id="myChart" width="400" height="250"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for product in category_name %}  '{{ product }}',  {% endfor %}],
                        datasets: [{
                            label: 'Amount',
                            data: [{% for product in category_amount %}  {{ product }},  {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)',
                                'rgba(240, 120, 50, 0.8)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(240, 120, 50, 1)',

                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}
