{% extends "finance/base.html" %}
{% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>{% if object %}Update Income{% else %}Add Income{% endif %}</legend>
                    <div class="mb-3" style="display: flex; flex-direction: column;">
                        <label style="align-self: flex-start; font-weight: bold;">Income Type:</label>
                        {{ form.income_type }}
                    </div>
                    <div class="mb-3" style="display: flex; flex-direction: column;">
                        <label style="align-self: flex-start; font-weight: bold;">Category:</label>
                        {{ form.category }}
                    </div>
                    <div class="mb-3" style="display: flex; flex-direction: column;">
                        <label style="align-self: flex-start; font-weight: bold;">Amount:</label>
                        {{ form.amount }}
                    </div>
                    <div class="mb-3" style="display: flex; flex-direction: column;">
                        <label style="align-self: flex-start; font-weight: bold;">Description:</label>
                        {{ form.description }}
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Add{% endif %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
