{% extends "finance/base.html" %}
{% block content %}
    <table class="b">
        <tr class="c">
            <th>Date</th>
            <th>IncomeType</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
        </tr>

        <tr class="d">
            <td>{{ object.date|date:"M d, y" }}</td>
            <td>{{ object.income_type }}</td>
            <td>{{ object.amount }}</td>
            <td>{{ object.category }}</td>
            {% if object.description %}
                <td>{{ object.description }}</td>
            {% endif %}
        </tr>
    </table>
    <a href="{% url 'income-update' object.id %}" class="f">Update</a>
    <a href="{% url 'income-delete' object.id %}" class="f">Delete</a>
{% endblock %}